<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8">
            {% block title %}<title>blocknav.io | A Blockchain Navigation Tool</title>{% endblock %}
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
            <link rel="stylesheet" href="//s3.amazonaws.com/blocknav/bootstrap-flatly.min.css" media="screen">
            <link rel="stylesheet" href="//s3.amazonaws.com/blocknav/custom.min.css" media="screen">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
            <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
            {{ moment.include_jquery() }}
            {{ moment.include_moment() }}
        </head>
        <body>
            <div class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <a href="/" class="navbar-brand"><i class="fa fa-th"></i> blocknav.io</a>
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse" id="navbar-main">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="{{ url_for('blocks') }}">
                                    <i class="fa fa-th-large"></i> Blocks
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa fa-btc"></i> TXs
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for('pools') }}">
                                    <i class="fa fa-chain"></i> Pools
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for('api_docs') }}">
                                    <i class="fa fa-gear"></i> API
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for('login') }}">
                                    <i class="fa fa-sign-in"></i> Login
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="label label-info">System Time: {{ moment().format(current_time, refresh=True) }}</span>
                                </a>
                            </li>
                            <!--
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="bmenu">+
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="bmenu">
                                    <li><a href="#">Register</a></li>
                                    <li class="divider"></li>
                                    <li><a href="">Markets</a></li>
                                    <li><a href="">BTC/ETH</a></li>
                                    <li class="divider"></li>
                                    <li><a href="">Blockchain Technology</a></li>
                                    <li><a href="">bootswatch.less</a></li>
                                    <li class="divider"></li>
                                    <li><a href="">BTC Network Info</a></li>
                                    <li><a href="">Hashrate</a></li>
                                    <li><a href="">Market Cap</a></li>
                                </ul>
                            </li>
                            -->
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <form class="navbar-form" role="search" method="post" action="{{ url_for('search') }}" name="search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search by Hash, TX, Height, Time..." name="search" id="search">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </ul>

                    </div>
                </div>
            </div>


            <div class="container">
                <div class="bs-docs-section">
                    <div class="row" style="margin-top:-50px;">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>

            {% block scripts %}
            <!-- jquery and bs scripts -->
            <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script src="//s3.amazonaws.com/blocknav/custom.js"></script>
            {% endblock %}

        </body>
</html>
