{% extends "_layout.html" %}

{% block content %}

    <div class="page-header" id="api_docs" style="margin-top: -105px;">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1>API</h1>
                <p class="lead">Blockchain API (Python)</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4">
                <div class="list-group table-of-contents">
                    <a class="list-group-item" href="#be">Block Explorer</a>
                    <a class="list-group-item" href="#stats">Statistics</a>
                    <a class="list-group-item" href="#wallet">Wallet</a>
                    <a class="list-group-item" href="#pushtx">Push TX</a>
                    <a class="list-group-item" href="#receive">v2.Receive</a>
                    <a class="list-group-item" href="#rates">Exchange Rates</a>
                    <a class="list-group-item" href="#create">Create Wallet</a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}