{% extends "_layout.html" %}
{% block head %}
    <style>
        .big-icon {
            font-size: 192px;
        }
    </style>
{% endblock %}
{% block content %}

    <div class="page-header" style="margin-top: 10px;">
        <div class="jumbotron">
            <h1><strong>Mining Pools</strong></h1>
            <p class="lead">BTC Mining Pool Distribution Calculated by Blocks</p>
            <i class="fa fa-chain big-icon pull-right visible-lg visible-md" style="margin-top:-165px;"></i>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h5><i class="fa fa-chain"></i> Global Pool Distribution
                    <span class="pull-right visible-lg visible-md">
                        <small><i class="fa fa-clock-o"></i> <a href="#">1 DAY</a> | <span class="label label-danger">3 DAYS</span> | <a href="#">1WEEK</a> | <a href="#">1 MONTH</a> | <a href="#">1 YEAR</a></small>
                    </span>
                </h5>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr class="info">
                                <th>Current Rank</th>
                                <th>Pool Name</th>
                                <th>Network %</th>
                                <th>Hash Rate</th>
                                <th>Blocks Mined</th>
                                <th>Empty Blocks</th>
                                <th>% Empty Blocks</th>
                                <th>Block Size</th>
                                <th>Avg Fees/Block</th>
                                <th>TX Fees % Block Reward</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pool in pools %}
                                <tr {% if loop.index == 1 %}class="success"{% endif %}>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ pool[1] }}</td>
                                    <td>{{ pool[2] }}</td>
                                    <td>{{ pool[3] }}</td>
                                    <td>{{ pool[4] }}</td>
                                    <td>{{ pool[5] }}</td>
                                    <td>{{ pool[6] }}</td>
                                    <td>{{ pool[7] }}</td>
                                    <td>{{ pool[8] }}</td>
                                    <td><span class="label label-warning">{{ pool[9] }}</span></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="row" style="margin-top: 15px;">
                    <div class="col-lg-12">
                        <small><i class="fa fa-clock-o"></i> Mining Pool Statistics from <a href="https://btc.com/stats/pool" target="_blank">BTC.com</a>.  Last refreshed: {{ moment().format(current_time, refresh=True) }}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}